{% extends "base.html" %}

{% block content %}
<section class="flex items-center justify-center min-h-0">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm mt-30 mb-70">
        <legend class="mb-6 text-2xl font-semibold text-center">
            {{ title }}
        </legend>
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <!-- Password Input -->
            <div class="mb-4">
                {{ form.password.label(class="block text-gray-700 font-medium mb-2") }}
                {% if form.password.errors %}
                {{ form.password(class="block w-full p-3 border border-red-500 rounded-lg focus:outline-none
                focus:ring-2 focus:ring-red-500") }}
                <div class="text-red-500 text-sm mt-1">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="block w-full p-3 border border-gray-300 rounded-lg focus:outline-none
                focus:ring-2 focus:ring-blue-500") }}
                {% endif %}
            </div>

            <!-- Confirm Password Input -->
            <div class="mb-4">
                {{ form.confirm_password.label(class="block text-gray-700 font-medium mb-2") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="block w-full p-3 border border-red-500 rounded-lg focus:outline-none
                focus:ring-2 focus:ring-red-500") }}
                <div class="text-red-500 text-sm mt-1">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="block w-full p-3 border border-gray-300 rounded-lg focus:outline-none
                focus:ring-2 focus:ring-blue-500") }}
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center mt-6">
                {{ form.submit(class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg w-full")
                }}
            </div>
        </form>
    </div>
</section>
{% endblock %}