venv
*.sql
__pycache__
.env
.vscode
*tumamail*
*.db
*.zip

# IDE and Editor specific files
.idea/
*.vscode/
*.swp

# database files
*.sqlite3
*.db
*.sqlite
*.sql
instance/

# temp test files
.coverage