* {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

.tab-active {
  border-bottom: 2px solid #1d4ed8; /* Blue underline for active tab */
}

.hero-img img {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}
svg.svg-home {
  width: 7rem;
  height: 7rem;
  margin: auto;
}
.center-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
#show-big {
  display: block;
  margin-right: 2rem;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.select-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
legend h1 {
  text-align: center;
}
label {
  font-weight: 500;
  font-size: large;
}
.form-control {
  border: 1px solid#484747;
}
.family-section {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* build tree start */
.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 4px;
  padding-top: 10px;
}

.tree ul li {
  border-left: 2px solid #ddd;
  padding-bottom: 15px;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -7px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 3px 3px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  content: "+";
  z-index: 1;
  background: rgb(27, 154, 27);
  color: #fff;
  line-height: calc(2 * var(--radius) - 0px);
  text-align: center;
}

.tree details[open] > summary::before {
  content: "−";
}
.wife {
  color: #fc46aa;
}
.husband {
  color: #279bc9;
}

.deceased {
  color: gray;
}

/* build tree finish */

summary {
  font-size: 1.1rem;
  font-weight: 500;
}

.events {
  display: flex;
}
.events .upcoming,
.events .past {
  width: 50%;
}
.event-card-header {
  display: flex;
}
.event-card-calender {
  /* width: 15%; */
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.event-card-header-info {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.event-card-header-info .event-title {
  /* width: 20%; */
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.event-card-header-info svg {
  width: 1rem;
  height: 1rem;
}
.event-card-time-location {
  display: flex;
}
.event-card-calender time {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.6em;
  box-shadow: rgb(229, 230, 230) 0px 0px 10px 2px;
  display: flex;
  flex-direction: column;
  font-size: 0.38em;
  height: 6em;
  overflow: hidden;
  width: 6em;
}
.event-card-calender time strong.bg-primary {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 0.1em 0px;
  text-align: center;
  top: 0px;
  width: 100%;
}
.event-card-time-location .time {
  width: 30%;
  margin-right: 1rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
.event-card-time-location .location {
  overflow: hidden;
  font-size: 0.8rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.copy-text {
  position: relative;
  /* padding: 2px; */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}
.copy-text input.text {
  overflow: hidden;
  padding: 5px;
  font-size: 15px;
  color: #555;
  border: none;
  outline: none;
  /* padding-right: 50px; */
}
.copy-text button {
  padding: 5px;
  background: #5784f5;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.copy-text button:active {
  background: #809ce2;
}
.copy-text button:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}
.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display: block;
}

/* mobile */
@media screen and (max-width: 600px) {
  #show-big {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
  }
  .hero-words {
    text-align: center;
  }
  .events {
    flex-direction: column;
  }
  .events .upcoming,
  .events .past {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #show-big {
    display: none;
  }
}
